body{
    background-image: url(../assets/img/gamedark.png);
    background-size: 15%;
    position: relative;
}
.title{
    height: 250px;
    background-image: url(../assets/img/gamedark.png);
    position: relative;
}

/*body elements*/

.aside{
    color: white;
    text-align: justify;
    text-indent: 30px;
    grid-area: aside;
    background-color: rgba(21, 21, 18, 0.919);
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    border: 2px dashed #0e8cb7;
}
.main{
    text-align: justify;
    text-indent: 30px;
    grid-area: main;
    background-color: #130d0de1;
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    border: 2px dashed #0e8cb7;
    color: white;
}
h1,h3{
    text-align: center;
    color: rgb(35, 116, 187);
    text-transform:capitalize;
}
h5{
    color: white;
}
#not{
    margin: 15px;
    padding: 2%;
    border: 3px  ;
    text-align: center;
    text-transform: uppercase;
    color: white;
}

/*formulario dark*/

.imgage {
    width: 395px;
    background-color: aqua;
    border-radius: 3%;
    border: 2px solid rgb(255, 255, 255);
}
#form {
    border: 2px solid rgb(255, 255, 255);
}